*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}
body{
    background-color: #FAF0E6;
}
p{
    font-size: large;
    word-spacing: 3px;
}

nav{
    display: flex;
    width: 100%; height: 20%;
    /* box-shadow: 3px 3px -5px 6px rgb(190, 167, 167); */
    box-shadow: 0 10px 6px -6px #FFD1DC;
}
nav img{
    display: inline-block;
    width: 7%; height: 6%;
}
nav h1{
    display: inline-block;
    width: 20%;
    margin: 40px 5px 0px 20px;
}
nav h1:hover{
    color: #186048;
}
nav span{
    width: 20%;
}
nav ul{
    list-style-type: none;
    display: flex; flex-direction: row; justify-content: space-around;
    width: 50%;
    margin: 40px 5px 20px 0px;
    font-size: large;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #00C000;
}

.container{
    display: inline-block;
    width: 89%; height: max-content;
    margin: 30px 80px 30px 80px;
}
#firstcontain, #secondcontain{
    display: inline-block; 
    width: 60%; height: 80%;
    margin: 30px 15px 35px 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
}
#prb1head, #prbhead2{
    display: inline-block;
    width: 100%; height: 5%;
}
#prb1para, #prb2para{
    display: inline-block;
    width: 100%; height: 90%;
}
#toprated{
    float: right;
    width: 33%;
    height: 80%;
    margin: 30px 5px 35px 20px;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
}
#toplanguages{
    display: inline-block;
    position: absolute;
    width: 30%;
    height: 60%;
    margin: 30px 15px 35px 20px;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
}
#topratedhead, #toplanghead{
    display: inline-block;
    width: 100%; height: 5%;
    border-radius: 20px;
}
#topratedlist, #toplanglist{
    display: inline-block; width: 400px;
    padding: 15px;
}
ol li a:hover{
text-decoration: underline;
}
ol li{
    margin: 10px 0px 10px 5px;
}
ol li a{
    text-decoration: none;
}

